.column {
    float: left;
    width: 50%;
}

#legends {
    font-weight: 700;
    color: #25477b;
    fill: #25477b;
    text-transform: uppercase;
    font-size: 1.5em;
}

#legends2 {
    font-weight: 700;
    color: #25477b;
    fill: #25477b;
    text-transform: uppercase;
    font-size: 1em;
}

#ioxoutput-loading {
	position: absolute;
	bottom: 40px;
	right: 105px;
	display: none;
}

#ioxoutput-map {
	height: 100%;
	right: 341px;
}

#ioxoutput-controls {
	position: absolute;
	width: 300px;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	background-color: #f7f7f7;
	border-left: 1px solid #aaa;
}

#ioxoutput-error {
	margin-top: 20px;
	color: #cc0000;
}

#ioxoutput-header-paragraph  {
	margin-top: 5px;
}

.ioxoutput input[type="text"], select {
	padding: 5px;
	width: 295px;
}

.dropdown-content {
	display: block;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
  }

  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

	.alex {
	  background-color: red;
  }